

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


.main {
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
}
.main .half-container{
    width: 50%;
    padding-left: 5%;
}
.main .half-container img{
    width: 100%;
}
.main h1{
    font-size: 50px;
}
.main .h-text{
    color: orange;
}
.main-1 p{
    color: dimgray;;
 }
.main .btn{
    text-decoration: none;
    background: linear-gradient(
45deg
, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.main-2 {
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    margin-top: 80px;
}
.main-2 .half-container{
    
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.main-2 .half-container img{
    width: 100%;
}
.main-2 h1{
    font-size: 50px;
    padding-top: 50px;
}
.main-2 .h-text{
    color: orange;
}
.main-2 p{
   color: dimgray;
}
.main-2 .btn{
    text-decoration: none;
    background: linear-gradient(
45deg
, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.Experiences{
    margin-top: 100px;
    
}
.Experiences .text{
    font-size: 50px;
    margin-left: 50px;
    
}
.Experiences .main-wraper{
    display: flex;
    background: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
 
}
.Experiences .part-1,
.Experiences .part-2{
    margin: 10px 50px;
    padding: 50px 30px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    box-shadow: 5px 7px 40px gray;
    height: 80%;
}
.Experiences .part-1 h1,
.Experiences .part-2 h1{
    font-size: 40px;
}
.Experiences .part-1 h3,
.Experiences .part-2 h3{
    color: orange;
}
.Experiences .part-1 p,
.Experiences .part-2 p{
    color: dimgray; 
}
.footer{
    margin-top: 100px;
    text-align: center;
}